.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

.controls {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  margin-bottom: 10px;  
}